* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

.container {
    border: 1px solid red;
    height: 400px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 100px);
    grid-auto-rows: 100px;
    place-items: end;
    gap: 20px;
}

.item {
    font-size: 3rem;
    border: 1px solid aqua;
    background-color: peru;
}