/* ... Variables CSS ... */

:root {
    /* 
     - Colors
    */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* 
     - Typography
    */
    --fs-16: 16px;
}

/* ... Basic Reset ... */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* font-size: 1rem*/
}

body {
    /* height: 100%; active for desktop */
    height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr; */
    padding: 25px;
    background-color: var(--very-light-gray);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

#root,
#__next {
    isolation: isolate;
}

/* ... Código CSS para el proyecto ... */

.parent {
    position: relative;
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 10px;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;

}

.text {
    text-align: center;
}

.child {
    border-radius: 10px;
    position: absolute;
    right: 25%;
    left: 25%;
    top: -10%;
    background-color: red;
    border: 1px peru solid;
    text-align: center;
}

/* ... Media Queries ... */

@media screen and (min-width:768px) {}